.env
chromadb/
*.pdf
public/3D_models/
*.glb
models/
medai-frontend/.env
__pycache__/
*.pyc
dist/
build/
# Docker
.docker/
medical_sources/
*pdf
backend/data/*.db
backend/data/study_uploads/
backend/chromadb_study/